/* Add CSS styles for your web site here and use them in index.html. */
html {
    scroll-behavior: smooth;
    background-image: linear-gradient(to bottom, olivedrab, #c0eb75,#c0eb75,olivedrab);
    background-attachment: fixed;
    margin: 15px;
}
.product-card,
.feed-back-card {
    display: flex;
    -webkit-overflow-scrolling: touch;
    scroll-behavior: smooth;
    padding: 5px 8px;
    margin: 10px;
    gap: 10px;
    overflow-y: auto;
}
.card {
    display:flex;
    gap: 15px;
    margin: 10px;
    border: 1px solid olivedrab;
    border-radius: 12px;
    width:fit-content;
    height: 140px;
    justify-content: center;
}
.card-img {
    border-radius: 12px;
    border: none;
    overflow: hidden;
    object-fit: cover;
    width: fit-content;
    height: 120px;
    margin: 10px;
}
.nav-bar {
    display:flex;
    gap: 10px;
    margin: 10px;
    overflow-x: auto;
    overflow-y: hidden ;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    white-space: nowrap;
    flex-direction: row;
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
}
nav a {
    text-decoration: none;
    color: black;
    white-space: nowrap;
    padding:5px 8px;
}
.CTA-btn {
    border-radius:5px;
    border: 1px solid #222;
    color:#c0eb75;
    font-weight:bold;
    background-color:black;
    padding:5px 8px;
    margin: 8px;
}
div {
    margin: 15px 0;
}
.fot-a {
    text-decoration: none;
    color: black;
    display: block;
    margin: 15px 0;
    font-weight: bold;
}
h1 {
    text-align:center;
}
.hero-img {
    border-radius:12px;
    padding:10px 16px;
    border: 1px solid #c0eb75;
    display:block;
    margin: auto;
    width: 80%;
    height:fit-content;
    object-fit: cover;
}
